.header__navbar{
  display: flex;
  ul{
    list-style-type: none;

    display: flex;
    flex-direction: row;

    column-gap: 53.5px;

    li{
      font-family: "Inter";
      font-weight: 500;
      font-size: 17.8px;
      color: #606060;
    }
  }
}
