.header {
  max-width: 1440px;
  height: 135px;
  
  position: sticky;
  top: 0; 
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  .header__menuContainer{
    width: 1248px;
    height: 62.5px;

    display: flex;
    align-items: center;
    flex-direction: row;

    margin-top: 48px;

    position: relative;

    .header__menuContainer-left{
      display: flex;
      flex-direction: row;
      align-items: center;     

      column-gap: 103px;
    }
    .header__menuContainer-rigth{
      position: absolute;
      right: 0;
    }
  }
  .header__hr{
    width: 1246px;
    position: absolute;
    bottom: 0;

    border: none;
    border-top: 1px solid #CBCBCB;
  }
}

