.navbar{
  display: flex;
  ul{
    list-style-type: none;

    display: flex;
    flex-direction: row;

    li{
      font:{
        family: "Inter";
        weight: 500;
        size: 17.8px;
      }
    }
  }
}

.header__navbar{
  ul{
    column-gap: 53.5px;

    li{
      color: #606060;
    }
  }
}
.footer__navbar{
  ul{
    column-gap: 70px;

    li{
      color: #999999;
    }
  }
}
